.idea
traefik/certs/*
traefik/logs/*
ansible/temp/*
archive/terraform/.terraform
archive/terraform/.tfout
archive/terraform/.auto.tfvars
archive/terraform/kube-config
archive/terraform/tfplan.out
.DS_Store
